<div class="row">
  <div class="col-2">
  </div>
  <div class="col-10">
    <h4>{{counter}}</h4>
    <svg viewBox="0 0 1500 600" width="1500" height="600" style="border: #09035e solid" (click)="count($event)" (mousemove)="mouseMove($event)" (dblclick)="endDraw($event)" (click)="addpoints($event)" (click)="findShape()">
      <path *ngFor="let shape of finalShape; index as i" (click)="click($event)" (dblclick)="getShapeId($event)" [attr.id]="i" [attr.d]="shape" stroke="black" fill="blue"/>
      <path [attr.d]="drawPoints" style="fill:none;stroke:#240c2e;stroke-width:3" />
        <circle [attr.cx]="circleX" [attr.cy]="circleY" stroke="red" stroke-width="3" fill="red" />
    </svg>
  </div>
</div>






